.details {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: url("/assets/background.png");
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.details-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 40px;
  border-radius: 7px;
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  max-width: 800px;
  background-color: aliceblue;
  background-image: url("/assets/backgroundSections.jpg");
  opacity: 0.9;
  background-size: cover;
  background-position: center;
}

.product-img {
  display: inherit;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  padding: 50px;
}

.product-img img {
  display: inherit;
  max-width: 100%;
  max-height: 350px;
  width: auto;
  height: auto;
  border-radius: 7px;
  object-fit: contain;
}

.gallery-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  margin-left: 8px;
}

.gallery-item {
  margin: 5px;
}

.gallery-item img {
  max-width: 150px;
  border-radius: 5px;
}

h1 {
  font-size: 18px;
  color: #232121;
  background-color: rgb(255, 255, 255);
  opacity: 0.9;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  display: block;
  margin: 20px auto;
}

.product-text p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  margin-bottom: 50px;
  background-color: rgb(255, 255, 255);
  opacity: 0.9;
  border-radius: 20px;
  margin-top: 20px;
  padding: 20px;
}

.back-btn {
  text-align: center;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  width: 150px;
}

button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .wrapper {
    margin: 30px auto;
    padding: 20px;
  }

  .product-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
  }

  .product-img img {
    width: 100%;
    max-width: 800px;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
  }

  .gallery-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: center;
    border-radius: 5px;
  }

  .gallery-item {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .gallery-item img {
    max-width: 100%;
  }
}
